.contactPageContainer {
  margin-top: 100px;
  padding: 0 10%;
}

.contactPageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.contactPageHeader h1 {
  font-size: 60px;
}

.contactPageHeader p {
  font-weight: 200;
  font-size: 17px;
  letter-spacing: 1px;
}

.contactPageBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialBox {
  margin: 25px 0;
  padding: 18px;
  background-color: #131b2e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  padding: 40px 80px;
  border-radius: 15px;
  border-left: 2px solid rgb(0, 76, 255);
}

.socialItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
}

.socialItem a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.icon {
  font-size: 44px;
}

.secondContact {
  list-style: none;
}

.secondContactItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px;
  font-size: 17px;
}

@media screen and (max-width: 778px) {
  .secondContact {
    margin-bottom: 250px;
  }
}

@media screen and (max-width: 500px) {
  .contactPageHeader h1 {
    font-size: 50px;
  }

  .contactPageHeader p {
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 400px) {
  .contactPageHeader h1 {
    font-size: 38px;
  }

  .contactPageHeader p {
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 1px;
  }
}
