.container {
  padding: 0 10%;
  margin-top: 100px;
  margin-bottom: 200px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.header h1 {
  font-size: 50px;
  text-transform: uppercase;
}

.postBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, auto));
  grid-gap: 22px;
}

.post {
  background-color: rgb(31, 27, 48);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.postContent {
  padding: 20px 5%;
}

.postHeader {
  font-size: 27px;
  font-weight: 300;
  color: rgb(207, 219, 250);
}

.postText {
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 10px;
}

.readBtn {
  background-color: #111214;
  padding: 12px 19px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
}
