.container {
  background-color: black;
  height: 80px;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 110px;
  justify-content: center;
  align-items: center;
}

.navItem {
  font-size: 24px;
}
