.pageContainer {
  margin-top: 60px;
  padding: 0 15%;
}

.header {
  margin: 50px 0;
}

.pageContainer h1 {
  font-size: 72px;
  margin: 15px 0;
  text-align: center;
}

.pageTopContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  grid-gap: 45px;
  padding-bottom: 200px;
}

.items {
  border-right: 2px solid rgb(132, 55, 255);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.965);
}

@media screen and (max-width: 986px) {
  .body {
    grid-template-columns: 1fr;
  }
}
