@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #14161c;
  --secondary-color: #131b2e;
  --text-color: #fdfdfd;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.top-container {
  padding: 0 15%;
  margin-top: 100px;
}

.top-container h2 {
  font-size: 82px;
  font-weight: 700;
}
