@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #14161c;
  --secondary-color: #131b2e;
  --text-color: #fdfdfd;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.top-container {
  padding: 0 15%;
  margin-top: 150px;
  position: relative;
}

.top-container h2 {
  font-size: 82px;
  font-weight: 500;
}

.top-container h2 span {
  font-weight: 900;
}

@media screen and (max-width: 1634px) {
  .top-container h2 {
    font-size: 72px;
    font-weight: 500;
  }
}

@media screen and (max-width: 1054px) {
  .top-container h2 {
    font-size: 52px;
    font-weight: 500;
  }
}

@media screen and (max-width: 786px) {
  .top-container h2 {
    font-size: 38px;
    font-weight: 500;
  }

  .top-container h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 588px) {
  .top-container h2 {
    font-size: 28px;
    font-weight: 500;
  }

  .top-container h1 {
    font-size: 29px;
  }

  .top-container .intro-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 462px) {
  .top-container h2 {
    font-size: 21px;
    font-weight: 500;
  }

  .top-container h1 {
    font-size: 22px;
  }

  .top-container .intro-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 398px) {
  .top-container h2 {
    font-size: 17px;
    font-weight: 500;
  }

  .top-container h1 {
    font-size: 17px;
  }

  .top-container .intro-text {
    font-size: 12px;
  }
}
